@model PartyInvites_Git.Models.GuestResponse

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>RsvpForm</title>
</head>
<body>
    @using (Html.BeginForm()) { 
        <p>Your name: @Html.TextBoxFor(model => model.Name)</p>
        <p>Your email: @Html.TextBoxFor(model => model.Email)</p>
        <p>Your phone: @Html.TextBoxFor(model => model.Phone)</p>
        <p>
            Will you attend?
            @Html.DropDownListFor(model => model.WillAttend, new[]{
                                                                    new SelectListItem() {Text = "Yes, I will attend", Value = bool.TrueString},
                                                                    new SelectListItem() {Text = "No, I can't come", Value = bool.FalseString}
                                                                  }, "Choose an option")           
        </p>
        <input type="submit" value="Submit RSVP" />
    }
</body>
</html>
